<app-spinner *ngIf="isLoading"></app-spinner>
<app-mostrar-errores [errores]="errores"></app-mostrar-errores>

<div>
  <div class="title">
    <h1>Calificaciones</h1>
  </div>

  <div>
    <form [formGroup]="form">
      <div class="cabecera">
        <mat-form-field appearance="outline">
          <mat-label>Materia*</mat-label>
          <mat-select
            formControlName="materia"
            (selectionChange)="limpiarDatos()"
          >
            <mat-option *ngFor="let materia of materias" [value]="materia">
              {{ materia.nombre }}
            </mat-option>
          </mat-select>
          <mat-error>Debe seleccionar una materia.</mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline" class="campo">
          <mat-label>Periodo Actual</mat-label>
          <input
            matInput
            [disabled]="true"
            *ngIf="periodo"
            value="{{ periodo.nombre }}"
          />
          <input
            matInput
            [disabled]="true"
            *ngIf="!periodo"
            value="No hay ningún periodo activo."
          />
          <mat-icon matSuffix>query_builder</mat-icon>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Tipo</mat-label>
          <mat-select
            formControlName="idTipo"
            (selectionChange)="limpiarDatos()"
          >
            <mat-option *ngFor="let tipo of tipos" [value]="tipo.id">
              {{ tipo.nombre }}
            </mat-option>
          </mat-select>
          <!-- <mat-error>Debe seleccionar una materia.</mat-error> -->
        </mat-form-field>

        <mat-form-field appearance="outline" *ngIf="form.value.idTipo === 2">
          <mat-label>Evaluación</mat-label>
          <mat-select
            (selectionChange)="limpiarDatos()"
            formControlName="idEvaluacion"
          >
            <mat-option
              *ngFor="let evaluacion of evaluaciones"
              [value]="evaluacion.id"
            >
              {{ evaluacion.nombre }}
            </mat-option>
          </mat-select>
          <!-- <mat-error>Debe seleccionar una materia.</mat-error> -->
        </mat-form-field>

        <div class="nuevo">
          <button
            *ngIf="form.value.idTipo === 1"
            mat-button
            (click)="obtenerCalificaciones()"
            [disabled]="form.invalid || !periodo"
          >
            Mostrar
          </button>
          <button
            *ngIf="form.value.idTipo === 2"
            mat-button
            (click)="calcularCalificacionesEvaluacion()"
            [disabled]="form.invalid || !periodo"
          >
            Mostrar
          </button>
        </div>
      </div>
    </form>
  </div>
</div>
<ng-container *ngIf="form.value.idTipo === 2">
  <div *ngIf="calificacionesMateria">
    <p
      class="solo-pc"
      style="color: red; text-align: justify"
      *ngIf="calificacionesMateria.length > 0"
    >
      Por favor, abre la página desde el navegador de la PC, para poder mostrar
      la gráfica.
    </p>
  </div>
</ng-container>

<ng-container *ngIf="calificaciones">
  <div class="tabla-calificaciones" *ngIf="calificaciones.length > 0">
    <table border="1" id="my-table">
      <tr>
        <th align="center">Nombre</th>
        <th align="center">Matricula</th>
        <th align="center">Primer Parcial</th>
        <th align="center">Segundo Parcial</th>
        <th align="center">Tercer Parcial</th>
        <th align="center">Promedio</th>
      </tr>

      <tr *ngFor="let calificacion of calificaciones">
        <td align="start">{{ calificacion.nombre }}</td>
        <td align="center">{{ calificacion.matricula }}</td>
        <td align="center">{{ calificacion.primerParcial }}</td>
        <td align="center">{{ calificacion.segundoParcial }}</td>
        <td align="center">{{ calificacion.tercerParcial }}</td>
        <td align="center">
          {{
            (
              (calificacion.primerParcial +
                calificacion.segundoParcial +
                calificacion.tercerParcial) /
              3
            ).toFixed(1)
          }}
        </td>
      </tr>
    </table>

    <div class="buttonPDF">
      <button mat-button (click)="generatePDF()">Generar PDF</button>
    </div>
  </div>
</ng-container>

<ng-container *ngIf="calificacionesMateria">
  <div class="contenido-grafica" *ngIf="calificacionesMateria.length > 0">


    <div style="display: flex; justify-content: center;">

      <div class="grafica" id="htmlData">      
        <div style="width: 100%;">
          <div>  
              <div style="display: flex; width: 98%;"> 
                <img src="./assets/images/boleta/logo-estado.jpg" alt="Logo Estado de México" style="width: 6rem;" />
                <img src="./assets/images/logo_prepa.png" alt="Logo CBT" style="width: 6rem; height: 3.8rem;" />
                
                <div style="flex: 1 1 auto;"></div>

                <img src="./assets/images/boleta/logo_edomex.png" alt="Logo Edomex" style="width: 12rem; margin-right: 3rem;" />                                                                       
              </div>

              <div>
                <p style="text-align: center; font-size: large; margin: 3rem 0;">"2020. Año del Quincentenario de la Fundación de Toluca de Lerdo, Capital del Estado de México."</p>
              </div> 

              <div>
                <h1 style="text-align:center; margin: 3rem 0;">Reporte de Calificaciones</h1>
              </div>

              <div style="margin: 2rem 20rem; display: flex;">

                <div>
                   <p><strong>Semestre: </strong> 1</p>
                <p><strong>Grupo: </strong> A</p>
                <p><strong>Materia: </strong> Biología</p>
                </div>

                <div style="flex: 1 1 auto;"></div>

                <div>
                  <p><strong>Periodo: </strong> Feb - Jun</p>
               <p><strong>Docente: </strong> Juan Francisco Gómez</p>
               <p><strong>Fecha: </strong> 08/03/20200 10:29 PM</p>
               </div>
               
              </div>


          </div>
          <div style="display: flex; justify-content: center;">
             <div>
            <ngx-charts-bar-vertical
            [view]="[800, 700]"
            [scheme]="colorScheme"
            [results]="calificacionesMateria"
            [gradient]="gradient"
            [xAxis]="showXAxis"
            [yAxis]="showYAxis"
            [legend]="showLegend"
            [showXAxisLabel]="showXAxisLabel"
            [showYAxisLabel]="showYAxisLabel"
            [xAxisLabel]="xAxisLabel"
            [yAxisLabel]="yAxisLabel"
            (select)="onSelect($event)"
          >
          </ngx-charts-bar-vertical>
          </div>
        </div>  

     
          </div>
          
      </div>
    </div>

    <div class="buttonPDF buttonGrafica">
      <button mat-button (click)="downloadGrafica()">Generar PDF</button>
    </div>
  </div>
</ng-container>

<ng-container *ngIf="calificaciones">
  <div *ngIf="calificaciones.length <= 0">
    <p style="color: red">
      Aun no has registrado ninguna calificación en esta materia.
    </p>
  </div>
</ng-container>

<ng-container *ngIf="calificacionesMateria">
  <div *ngIf="calificacionesMateria.length <= 0">
    <p style="color: red">
      Aun no has registrado ninguna calificación en esta materia.
    </p>
  </div>
</ng-container>
