<div>
  <div class="title">
    <h1>Carrera Técnica</h1>
  </div>

  <div class="card-objetivos">
    <div class="informacion">
      <div>
        <h2 class="title-card">Prefil de Egreso</h2>

        <img
          class="image"
          src="./assets/images/carrera-tecnica/tecnico.jpg"
          alt="Perfil de Egreso"
        />

        <div class="button">
          <a mat-button>
            <mat-icon>download</mat-icon>
            Descargar
          </a>
        </div>
      </div>
      <div>
        <h2 class="title-card">Plan de Estudios</h2>
        <img
          class="image"
          src="./assets/images/carrera-tecnica/plan.jpg"
          alt="Perfil de Egreso"
        />
        <div class="button">
          <a mat-button>
            <mat-icon>download</mat-icon>
            Descargar
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
