<footer class="footer">
  <p>Todos los derechos reservados para el CBT No.3 San Felipe del Progreso.</p>

  <div class="icons">
    <a
      target="_blank"
      href="https://web.facebook.com/CBT-Tres-San-Felipe-del-Progreso-257574482796790/"
    >
      <img src="./assets/images/icons/facebook.png" />
    </a>
    <a
      target="_blank"
      href="https://api.whatsapp.com/send?phone=527224127643&text=Hola,%20¿Puede%20darme%20información?,%20por%20favor."
    >
      <img src="./assets/images/icons/whatsapp.png" />
    </a>
    <a target="_blank" href="mailto:15ECT0192O.CBT@edugem.gob.mx">
      <img src="./assets/images/icons/email.png" />
    </a>
  </div>
</footer>
