<div class="container">
  <div class="title">
    <h1>¡Mándanos un mensaje!</h1>
  </div>
  <div class="contacto">
    <div class="datos-contacto">
      <div class="mapa">
        <iframe
          src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d939.3793867526076!2d-99.9505143002074!3d19.647913318451682!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x85d28b20d0fb6f23%3A0x82bc5ec42572fac5!2sCBT%20N%C3%BAm.%203!5e0!3m2!1ses-419!2smx!4v1634880213367!5m2!1ses-419!2smx"
          style="border: 0"
          allowfullscreen=""
          loading="lazy"
        ></iframe>
      </div>

      <div class="icono-contacto">
        <img src="./assets/images/icons/phone.png" />
        <a href="tel:+527224127643">
          <p>722 412 7643</p>
        </a>
      </div>

      <div class="icono-contacto">
        <img src="./assets/images/icons/email.png" />
        <a href="mailto:15ECT0192O.CBT@edugem.gob.mx">
          <p>15ECT0192O.CBT@edugem.gob.mx</p>
        </a>
      </div>

      <div class="icono-contacto">
        <img src="./assets/images/icons/mapa.png" />
        <p>
          Colonia la Institución, San Antonio Mextepec, San Felipe del Progreso,
          C.P. 60687.
        </p>
      </div>
      <div>
        <a
          class="button-whatsapp"
          mat-button
          href="https://api.whatsapp.com/send?phone=34695685920&text=Hola,%20¿Puede%20darme%20información?,%20por%20favor."
          target="_blank"
          >Mensaje Whatsapp</a
        >
      </div>
    </div>
  </div>
</div>
