<div>
  <div class="title">
    <h1>Configuración de Página</h1>
  </div>

  <div>
    <mat-tab-group mat-align-tabs="start">
      <mat-tab label="Carousel Principal">
        <div class="carousel-imagen">
          <div
            class="custom-dropzone"
            ngx-dropzone
            [accept]="'image/*'"
            (change)="onSelectImage($event)"
            [multiple]="false"
          >
            <ngx-dropzone-label>
              <div>
                <p style="margin: 0 0.5rem">
                  Arrastra la imagen aquí o clic para abrir el exporador de
                  archivos
                </p>
              </div>
            </ngx-dropzone-label>
            <!-- <ngx-dropzone-image-preview ngProjectAs="ngx-dropzone-preview" *ngFor="let i of images" [file]="i" [removable]="true" (removed)="onRemoveImage(i)" > -->
            <ngx-dropzone-image-preview
              ngProjectAs="ngx-dropzone-preview"
              *ngFor="let i of images"
              [file]="i"
              [removable]="true"
              (removed)="onRemoveImage(i)"
              [expandable]="false"
            >
              <ngx-dropzone-label
                >{{ i.name }} ({{ i.type }})</ngx-dropzone-label
              >
            </ngx-dropzone-image-preview>
          </div>

          <div>
            <button
              (click)="cargarImagenCarousel()"
              mat-button
              [disabled]="images.length <= 0"
            >
              Cargar Imagen
            </button>
          </div>
        </div>

        <div>
          <p>
            Se recomienda cargar imágenes con relación aspecto 16:9
            (Horizontal).
          </p>

          <h2>Imágenes del Carousel</h2>

          <table
            #table
            mat-table
            [dataSource]="carousel_imagenes"
            class="mat-elevation-z8 tabla-materias"
          >
            <ng-container matColumnDef="opciones">
              <th mat-header-cell *matHeaderCellDef>Opciones</th>
              <td mat-cell *matCellDef="let imagen" align="start">
                <a
                  mat-icon-button
                  (click)="eliminarImagenCarousel(imagen.id)"
                  matTooltip="Eliminar"
                >
                  <mat-icon>delete</mat-icon>
                </a>
              </td>
            </ng-container>

            <ng-container matColumnDef="imagen">
              <th mat-header-cell *matHeaderCellDef>Imagen</th>
              <td mat-cell *matCellDef="let imagen" align="start">
                <img
                  [src]="imagen - ruta"
                  alt="{{ imagen.nombre }}"
                  style="width: 1rem"
                />
              </td>
            </ng-container>

            <ng-container matColumnDef="nombre">
              <th mat-header-cell *matHeaderCellDef>Nombre</th>
              <td mat-cell *matCellDef="let imagen" align="start">
                {{ imagen.nombre }}
              </td>
            </ng-container>

            <tr
              mat-header-row
              *matHeaderRowDef="columnasAMostrar; sticky: true"
            ></tr>
            <tr mat-row *matRowDef="let row; columns: columnasAMostrar"></tr>
          </table>
        </div>
      </mat-tab>
      <mat-tab label="Planta Docente">
        <h1>hola 2</h1>
      </mat-tab>
      <mat-tab label="Galería">
        <h1>hola 3</h1>
      </mat-tab>
    </mat-tab-group>
  </div>
</div>
<app-mostrar-errores [errores]="errores"></app-mostrar-errores>
