.publicacion {
  margin-top: 4rem;

  border-color: #dadce0;
  border-width: 1px;
  border-style: solid;
  border-radius: 9px;

  width: 60rem;
  height: auto;
}

.contenido {
  padding: 12px;
}

a {
  text-decoration: none;
  color: black;
}

.cabecera-contenido {
  display: flex;
  justify-content: space-between;
}

@media screen and (max-width: 600px) {
  .publicacion {
    width: 100%;
    padding: 3px;
  }
  .publicacion p {
    font-size: 10px;
  }

  .cabecera-contenido {
    flex-direction: column;
  }

  markdown {
    font-size: 10px;
  }
}
