<div>
  <div class="title">
    <h1>Hola, {{ seguridadService.obtenerNombre() }}</h1>
  </div>

  <div class="cards">
    <div class="card" routerLink="/alumnos/crear">
      <img
        src="./assets/images/landingpage-administrador/student.png"
        alt="Estudiante"
      />
      <h2 style="color: #374e54">Registrar Alumno</h2>
    </div>
    <div class="card" routerLink="/docentes/crear">
      <img
        src="./assets/images/landingpage-administrador/teacher.png"
        alt="Estudiante"
      />
      <h2 style="color: #374e54">Registrar Docente</h2>
    </div>
    <div class="card" routerLink="/materias">
      <img
        src="./assets/images/landingpage-administrador/book-stack.png"
        alt="Estudiante"
      />
      <h2 style="color: #374e54">Materias</h2>
    </div>

    <div class="card" routerLink="/grupos">
      <img
        src="./assets/images/landingpage-administrador/classroom.png"
        alt="Estudiante"
      />
      <h2 style="color: #374e54">Grupos</h2>
    </div>
  </div>
</div>
