<div>
  <div class="title">
    <h1>
      Hola,
      {{ seguridadService.obtenerNombre() }}
    </h1>
  </div>

  <div class="cards">
    <div class="card" routerLink="/asistencias/crear">
      <img
        src="./assets/images/landingpage-docente/to-do-list.png"
        alt="Estudiante"
      />
      <h2 style="color: #374e54">Registrar Asistencia</h2>
    </div>

    <div class="card" routerLink="/materias-docente">
      <img
        src="./assets/images/landingpage-docente/book-stack.png"
        alt="Estudiante"
      />
      <h2 style="color: #374e54">Materias</h2>
    </div>

    <div class="card" routerLink="/calificaciones/reporte">
      <img
        src="./assets/images/landingpage-docente/boleta-de-calificaciones.png"
        alt="Estudiante"
      />
      <h2 style="color: #374e54">Calificaciones</h2>
    </div>
  </div>
</div>
