.tabla-alumnos {
  width: 70%;
}

mat-paginator {
  width: 70%;
}

.nuevo {
  display: flex;
  justify-content: start;
  margin: 2rem 0;
}

.nuevo button {
  width: 10rem;
  background: #4f707b;
  color: white;
}

.texto-cabecera {
  display: flex;
  justify-content: start;
  margin-bottom: 3rem;
}

.texto-cabecera p {
  margin-right: 5%;
}

.usuarios-responsive {
  display: none;
}

@media screen and (max-width: 600px) {
  .tabla-alumnos {
    display: none;
  }

  mat-paginator {
    width: 100%;
  }
  .paginator {
    display: none;
  }

  .usuarios-responsive {
    display: flex;
    flex-direction: column;
  }

  .usuarios-responsive p {
    font-size: medium;
  }
  .texto-cabecera {
    font-size: medium;
    flex-direction: column;
  }
}
