.container {
  width: 800px;
  height: auto;
}

.cabecera {
  display: flex;
  justify-content: space-between;
}

.cabecera img {
  width: 6rem;
}
.cabecera p {
  font-size: small;
}

.CCT {
  display: flex;
  justify-content: space-between;
}

.promedio {
  display: flex;
  justify-content: end;
}

table {
  width: 100%;
}

.firma-padre {
  display: flex;
  justify-content: center;
}

.firma-hijo {
  width: 50%;
}

.boleta table {
  width: 80%;
  margin: 3rem auto;
}

.boleta table th {
  background: black;
  color: white;
  font-weight: 500;
}

.boleta table,
th,
td {
  border: 1px solid #b6b6b6;
  border-collapse: collapse;
}
