<mat-toolbar>
  <span *ngIf="seguridadService.obtenerRol() === ''">
    <a mat-button routerLink="" class="logo-text">
      <img src="./assets/images/logo_prepa.png" alt="Logo CBT" class="image" />
      <span>CBT No.3 San Felipe del Progreso</span>
    </a>
  </span>

  <span *ngIf="seguridadService.obtenerRol() === 'Administrador'">
    <a mat-button routerLink="/landingPage-administrador" class="logo-text">
      <img src="./assets/images/logo_prepa.png" alt="Logo CBT" class="image" />
      <span>CBT No.3 San Felipe del Progreso</span>
    </a>
  </span>

  <span *ngIf="seguridadService.obtenerRol() === 'Docente'">
    <a mat-button routerLink="/landingPage-docente" class="logo-text">
      <img src="./assets/images/logo_prepa.png" alt="Logo CBT" class="image" />
      <span>CBT No.3 San Felipe del Progreso</span>
    </a>
  </span>

  <span *ngIf="seguridadService.obtenerRol() === 'Alumno'">
    <a mat-button routerLink="/landingPage-alumno" class="logo-text">
      <img src="./assets/images/logo_prepa.png" alt="Logo CBT" class="image" />
      <span>CBT No.3 San Felipe del Progreso</span>
    </a>
  </span>

  <app-autorizado>
    <ng-container noAutorizado>
      <div class="opciones-invitado">
        <div>
          <a mat-button routerLink="invitado">Invitado</a>
        </div>

        <div>
          <a mat-button routerLink="resenia">Reseña</a>
        </div>

        <div>
          <a mat-button routerLink="planta-docente">Planta Docente</a>
        </div>
        <div>
          <a mat-button routerLink="carrera-tecnica">Carrera Técnica</a>
        </div>
        <div>
          <a mat-button routerLink="contacto">Contacto</a>
        </div>
      </div>
      <!-- Opcion resoponsiva  invitado -->
      <a mat-button class="opciones-menu" [matMenuTriggerFor]="options">
        <mat-icon>dehaze</mat-icon>

        <mat-menu #options="matMenu">
          <div class="image-options">
            <a mat-button routerLink="">
              <img src="./assets/images/logo_prepa.png" alt="Logo CBT" />
              <span>Inicio</span>
            </a>
          </div>

          <hr />
          <button mat-menu-item routerLink="invitado">Invitado</button>
          <button mat-menu-item routerLink="resenia">Reseña</button>
          <button mat-menu-item routerLink="planta-docente">
            Planta Docente
          </button>
          <button mat-menu-item routerLink="carrera-tecnica">
            Carrera Técnica
          </button>
          <button mat-menu-item routerLink="contacto">Contacto</button>
        </mat-menu>
      </a>
    </ng-container>
  </app-autorizado>

  <app-autorizado [rol]="'Administrador'">
    <ng-container autorizado>
      <div class="opciones-administrador">
        <a mat-button routerLink="grupos">Grupos</a>
        <a mat-button routerLink="materias">Materias</a>
        <a mat-button [matMenuTriggerFor]="usuarios">Usuarios</a>
        <mat-menu #usuarios="matMenu">
          <button mat-menu-item routerLink="alumnos">Alumnos</button>
          <button mat-menu-item [matMenuTriggerFor]="docentes">Docentes</button>
          <mat-menu #docentes="matMenu">
            <button mat-menu-item routerLink="docentes">Ver Docentes</button>
            <button mat-menu-item routerLink="materiasDocentes">
              Materias de Docentes
            </button>
          </mat-menu>
          <button mat-menu-item routerLink="administradores">
            Admnistradores
          </button>
        </mat-menu>

        <a mat-button routerLink="periodos">Periodos</a>

        <a mat-button routerLink="configuracion-pagina"
          >Configuración de la Página</a
        >
      </div>

      <!-- Opciones responsivas administrador -->
      <a
        mat-button
        class="opciones-administrador-responsiva"
        [matMenuTriggerFor]="optionsAdministrador"
      >
        <mat-icon>dehaze</mat-icon>

        <mat-menu #optionsAdministrador="matMenu">
          <div class="image-options">
            <a mat-button routerLink="/landingPage-administrador">
              <img src="./assets/images/logo_prepa.png" alt="Logo CBT" />
              <span>Inicio</span>
            </a>
          </div>

          <hr />
          <button mat-menu-item routerLink="grupos">Grupos</button>
          <button mat-menu-item routerLink="materias">Materias</button>
          <button mat-menu-item [matMenuTriggerFor]="usuariosResponsivo">
            Usuarios
          </button>
          <mat-menu #usuariosResponsivo="matMenu">
            <button mat-menu-item routerLink="alumnos">Alumnos</button>
            <button mat-menu-item [matMenuTriggerFor]="docentesResponsivo">
              Docentes
            </button>
            <mat-menu #docentesResponsivo="matMenu">
              <button mat-menu-item routerLink="docentes">Ver Docentes</button>
              <button mat-menu-item routerLink="materiasDocentes">
                Materias de Docentes
              </button>
            </mat-menu>
            <button mat-menu-item routerLink="administradores">
              Admnistradores
            </button>
          </mat-menu>
          <button mat-menu-item routerLink="periodos">Periodos</button>
          <button mat-menu-item routerLink="configuracion-pagina">
            Configuración
          </button>
        </mat-menu>
      </a>
    </ng-container>
  </app-autorizado>

  <app-autorizado [rol]="'Docente'">
    <ng-container autorizado>
      <div class="opciones-docente">
        <a mat-button routerLink="/materias-docente">Materias</a>
        <a mat-button [matMenuTriggerFor]="asistencia">Asistencia</a>
        <mat-menu #asistencia="matMenu">
          <button mat-menu-item routerLink="/asistencias/crear">
            Registrar Asistencia
          </button>
          <button mat-menu-item routerLink="/asistencias/reporte">
            Ver Asistencias
          </button>
        </mat-menu>
        <a mat-button [matMenuTriggerFor]="calificaciones">Calificaciones</a>
        <mat-menu #calificaciones="matMenu">
          <button mat-menu-item routerLink="/calificaciones/crear">
            Registrar Calificaciones
          </button>
          <button mat-menu-item routerLink="/calificaciones/reporte">
            Reporte de Calificaciones
          </button>
        </mat-menu>
      </div>

      <!-- Opciones responsivas docente -->
      <a
        mat-button
        class="opciones-docente-responsiva"
        [matMenuTriggerFor]="optionsDocente"
      >
        <mat-icon>dehaze</mat-icon>

        <mat-menu #optionsDocente="matMenu">
          <div class="image-options">
            <a mat-button routerLink="/landingPage-docente">
              <img src="./assets/images/logo_prepa.png" alt="Logo CBT" />
              <span>Inicio</span>
            </a>
          </div>

          <hr />
          <button mat-menu-item routerLink="/materias-docente">Materias</button>
          <a mat-menu-item [matMenuTriggerFor]="asistencia">Asistencia</a>
          <mat-menu #asistencia="matMenu">
            <button mat-menu-item routerLink="/asistencias/crear">
              Registrar Asistencia
            </button>
            <button mat-menu-item routerLink="/asistencias/reporte">
              Ver Asistencias
            </button>
          </mat-menu>
          <a mat-menu-item [matMenuTriggerFor]="calificaciones"
            >Calificaciones</a
          >
          <mat-menu #calificaciones="matMenu">
            <button mat-menu-item routerLink="/calificaciones/crear">
              Registrar Calificaciones
            </button>
            <button mat-menu-item routerLink="/calificaciones/reporte">
              Reporte de Calificaciones
            </button>
          </mat-menu>
        </mat-menu>
      </a>
    </ng-container>
  </app-autorizado>

  <app-autorizado [rol]="'Alumno'">
    <ng-container autorizado>
      <div class="opciones-alumno">
        <a mat-button (click)="openBoletaDialog()">Descargar Boleta</a>

        <a mat-button routerLink="reinscripcion">Realizar reinscripción</a>
      </div>

      <!-- Opciones responsivas alumno -->
      <a
        mat-button
        class="opciones-alumno-responsiva"
        [matMenuTriggerFor]="optionsAlumno"
      >
        <mat-icon>dehaze</mat-icon>

        <mat-menu #optionsAlumno="matMenu">
          <div class="image-options">
            <a mat-button routerLink="/landingPage-alumno">
              <img src="./assets/images/logo_prepa.png" alt="Logo CBT" />
              <span>Inicio</span>
            </a>
          </div>

          <hr />
          <button mat-menu-item (click)="openBoletaDialog()">
            Descargar Boleta
          </button>
          <button mat-menu-item routerLink="reinscripcion">
            Realizar Reinscripción
          </button>
        </mat-menu>
      </a>
    </ng-container>
  </app-autorizado>

  <div class="space"></div>

  <app-autorizado>
    <ng-container autorizado>
      <a mat-button [matMenuTriggerFor]="opciones">
        <span
          >{{
            seguridadService.obtenerNombre() +
              " " +
              seguridadService.obtenerApellidoPaterno() +
              " " +
              seguridadService.obtenerApellidoMaterno()
          }} </span
        ><mat-icon>account_circle</mat-icon>
      </a>

      <mat-menu #opciones="matMenu">
        <button
          mat-menu-item
          routerLink="perfilAdministrador"
          *ngIf="seguridadService.obtenerRol() === 'Administrador'"
        >
          Perfil
        </button>
        <button
          mat-menu-item
          routerLink="perfilDocente"
          *ngIf="seguridadService.obtenerRol() === 'Docente'"
        >
          Perfil
        </button>
        <button
          mat-menu-item
          routerLink="perfilAlumno"
          *ngIf="seguridadService.obtenerRol() === 'Alumno'"
        >
          Perfil
        </button>

        <button mat-menu-item (click)="seguridadService.cerrarSesion()">
          Cerrar Sesión
        </button>
      </mat-menu>
    </ng-container>
    <ng-container noAutorizado>
      <div>
        <a mat-button [matMenuTriggerFor]="logins">
          Iniciar Sesión
          <mat-icon>login</mat-icon>
        </a>

        <mat-menu #logins="matMenu">
          <button mat-menu-item routerLink="login-alumno">Alumno</button>
          <button mat-menu-item routerLink="login-usuario">
            Docente / Administrador
          </button>
        </mat-menu>
      </div>
    </ng-container>
  </app-autorizado>
</mat-toolbar>
