<app-spinner *ngIf="isLoading"></app-spinner>
<div>
  <div class="title">
    <h1>Crear Publicación</h1>
    <app-mostrar-errores [errores]="errores"></app-mostrar-errores>
  </div>

  <div class="cabecera">
    <p><strong>Materia:</strong> {{ materia.nombre }}</p>
    <p><strong>Grupo:</strong> {{ materia.nombreGrupo }}</p>
  </div>

  <hr />

  <div class="publicacion">
    <div class="datos-publicacion">
      <mat-form-field appearance="outline" style="width: 60%">
        <mat-label>Nombre o titulo</mat-label>
        <input type="text" matInput />
      </mat-form-field>

      <mat-form-field appearance="outline" style="width: 30%">
        <mat-label>Fecha Entrega</mat-label>
        <!-- se asocia con #picker -->
        <input matInput [matDatepicker]="pickerEntrega" />
        <!-- se asocia con #picker -->
        <mat-datepicker-toggle
          matSuffix
          [for]="pickerEntrega"
        ></mat-datepicker-toggle>
        <mat-datepicker #pickerEntrega></mat-datepicker>
      </mat-form-field>

      <app-input-markdown
        (change)="cambioMarkdown($event)"
      ></app-input-markdown>
    </div>

    <div class="dropzone">
      <ngx-dropzone (change)="onSelect($event)">
        <ngx-dropzone-label>Arrastrar archivos aquí</ngx-dropzone-label>
        <ngx-dropzone-preview
          *ngFor="let f of files"
          [removable]="true"
          (removed)="onRemove(f)"
        >
          <ngx-dropzone-label>{{ f.name }} ({{ f.type }})</ngx-dropzone-label>
        </ngx-dropzone-preview>
      </ngx-dropzone>
    </div>
  </div>
  <div class="buttons-publicacion">
    <button mat-flat-button>Publicar</button>

    <a mat-stroked-button routerLink="/landingPage-docente">Cancelar</a>
  </div>
</div>
