.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-container {
  margin-top: 4rem;

  border-color: #dadce0;
  border-width: 1px;
  border-style: solid;
  border-radius: 3px;

  width: 30rem;
  height: auto;
}

.title {
  color: #473c3b;
  text-align: center;
  margin-top: 2rem;
  margin-bottom: 3rem;
}

mat-form-field {
  width: 90%;
  max-width: 300px;
}

.inputs {
  text-align: center;
}

.button-login {
  text-align: center;
  margin-top: 3rem;
  margin-bottom: 2rem;
}

.button-login button {
  width: 50%;
  background-color: #527580;
  color: white;
  border-radius: 15px;
}

.button-login button[disabled] {
  background-color: gray;
  color: white;
}

.content {
  display: block;
  text-align: center;
}

.logo {
  width: 9rem;
  margin: 3rem auto;
}

.content {
  text-align: center;
  display: inline-block;
}

.links {
  margin-top: 1rem;
}

.links a {
  font-size: small;
  text-decoration-line: none;
  color: #7d7d7d;
  margin-left: 2rem;
}

@media screen and (max-width: 600px) {
  .content {
    width: 100%;
    display: flex;
    justify-content: center;
  }
  .login-container {
    width: 100%;
  }

  .logo {
    display: block;
    margin: 1rem auto;
    padding-left: 1rem;
    width: 6rem;
  }

  .button-login button {
    width: 80%;
    margin-top: 1rem;
  }

  mat-form-field {
    margin-bottom: 1.5rem;
  }

  .button-login {
    margin-top: 0;
  }
}
