<div class="container">
  <div class="title">
    <h1>Galería</h1>
    <app-spinner *ngIf="isLoading"></app-spinner>
    <app-mostrar-errores [errores]="errores"></app-mostrar-errores>
  </div>
  <div class="gallery">
    <div
      *ngFor="let image of imagenesGaleria; let i = index"
      [style.gridRow]="image.row"
      [style.gridCol]="image.col"
      class="image"
    >
      <img [src]="image.ruta" (click)="selectedImage = i" />
      <span>+</span>
    </div>
  </div>
</div>

<app-galeria-carousel
  *ngIf="selectedImage !== null"
  (closeCarousel)="selectedImage = null"
  [images]="imagenesGaleria"
  [selectedImage]="selectedImage"
>
</app-galeria-carousel>
