<app-spinner *ngIf="isLoading"></app-spinner>
<app-mostrar-errores [errores]="errores"></app-mostrar-errores>
<div class="container">
  <div class="title">
    <h1>CBT No.3 San Felipe del Progreso</h1>
  </div>

  <div class="carousel">
    <carousel
      [images]="imagenesCarousel"
      [autoplay]="true"
      [autoplayInterval]="2000"
      [loop]="true"
      [cellsToShow]="1"
      [dots]="true"
      [height]="350"
      [borderRadius]="15"
    >
    </carousel>
  </div>
  <!-- Video  -->
  <div>
    <video
      src="https://fonsecasoundcruz-001-site1.itempurl.com/videos/video.mp4"
      class="class-video"
      controls
    >
      Your browser does not support the video tag.
    </video>
  </div>

  <div class="button">
    <a
      mat-button
      href="https://fonsecasoundcruz-001-site1.itempurl.com/convocatorias/convocatoria-cbt.pdf"
      target="_blank"
    >
      <mat-icon>download</mat-icon>
      Descargar Convocatoria
    </a>
  </div>

  <div class="card">
    <div class="informacion">
      <div>
        <img src="./assets/images/classroom.png" alt="" />
      </div>
      <div>
        <h2 style="color: #374e54">Descripción de la Institución</h2>
        <p style="color: #374e54">
          El centro de
          <b>Bachillerato Tecnológico No. 3 San Felipe del Progreso</b>, es una
          escuela altamente comprometida con la educación y el aprendizaje de
          cada uno de los alumnos que integra la comunidad estudiantil de la
          institución educativa.
        </p>
      </div>
    </div>
  </div>
</div>
