<app-spinner *ngIf="isLoading"> </app-spinner>
<div class="container">
  <div class="content">
    <form [formGroup]="form">
      <div class="login-container">
        <div>
          <img
            class="logo"
            src="assets/images/login/graduado.png"
            alt="Graduado"
          />
        </div>

        <h1 class="title">Iniciar Sesión</h1>

        <div class="inputs">
          <mat-form-field appearance="outline">
            <mat-label>Email</mat-label>
            <input matInput formControlName="correo" />
            <mat-error>{{ obtenerMensajeErrorCorreo() }}</mat-error>
          </mat-form-field>
        </div>
        <div class="inputs">
          <mat-form-field appearance="outline">
            <mat-label>Contraseña</mat-label>
            <input
              formControlName="password"
              matInput
              [type]="hide ? 'password' : 'text'"
            />
            <button
              mat-icon-button
              matSuffix
              (click)="hide = !hide"
              [attr.aria-label]="'Hide password'"
              [attr.aria-pressed]="hide"
            >
              <mat-icon>{{ hide ? "visibility_off" : "visibility" }}</mat-icon>
            </button>
            <mat-error>El campo Contraseña es requerido.</mat-error>
          </mat-form-field>
        </div>

        <app-mostrar-errores [errores]="errores"></app-mostrar-errores>

        <div class="button-login">
          <button mat-flat-button (click)="login()" [disabled]="form.invalid">
            Iniciar Sesión
          </button>
        </div>
      </div>
    </form>

    <!-- <div class="links">
      <a href="">Política</a>
      <a href="">Acerca De</a>
    </div> -->
  </div>
</div>
