<div>
  <div>
    <div class="title">
      <h1>Invitado</h1>
    </div>
    <div class="carousel">
      <carousel
        [borderRadius]="15"
        [images]="images"
        [autoplay]="true"
        [loop]="true"
      >
      </carousel>
    </div>
    <div class="cards">
      <div class="card">
        <div class="informacion">
          <div>
            <h2 style="color: #374e54">Misión</h2>
            <p style="color: #374e54">
              Formar seres humanos con una preparación científica y tecnológica,
              con un alto valor ético y de responsabilidad para que puedan
              seguir con su educación superior y/o ser competentes en el sector
              productivo a través de su formación técnica bivalente.
            </p>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="informacion">
          <div>
            <h2 style="color: #374e54">Visión</h2>
            <p style="color: #374e54">
              Ser una institución que ofrezca una educación basada en
              competencias a través del fortalecimiento de los conocimientos,
              habilidades y valores necesarios para que los bachilleres puedan
              continuar sus estudios en el nivel superior o incorporarse al
              campo laboral.
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="images">
      <!-- <img src="./assets/images/invitado/banner.jpg" alt="Imagen Escuela" />
      <img
        src="./assets/images/invitado/mediasupeior.jpg"
        alt="Imagen Escuela"
      /> -->
    </div>

    <div class="card-objetivos">
      <div class="informacion">
        <div>
          <h2 style="color: #374e54">Valores</h2>

          <p style="color: #374e54">
            Los valores que se practican en la institución con el apoyo del
            personal docente y directivo:
          </p>

          <div class="content-objetivos">
            <div>
              <ol>
                <li>
                  <p style="color: #374e54">Participación</p>
                </li>
                <li>
                  <p style="color: #374e54">Solidaridad</p>
                </li>
                <li>
                  <p style="color: #374e54">Democracia</p>
                </li>
                <li>
                  <p style="color: #374e54">Respeto</p>
                </li>
                <li>
                  <p style="color: #374e54">Responsabilidad</p>
                </li>
                <li>
                  <p style="color: #374e54">Tolerancia</p>
                </li>
                <li>
                  <p style="color: #374e54">Equidad</p>
                </li>
                <li>
                  <p style="color: #374e54">Igualdad</p>
                </li>
              </ol>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="imagess">
      <img
        src="./assets/images/invitado/formacion.jpeg"
        alt="Componentes formación"
      />
    </div>
  </div>
</div>
