.tabla-usuarios {
  width: 50%;
}

mat-paginator {
  width: 50%;
}

.nuevo {
  display: flex;
  justify-content: start;
  margin: 2rem 0;
}

.nuevo button {
  width: 10rem;
  background: #4f707b;
  color: white;
}

.usuarios-responsive {
  display: none;
}

@media screen and (max-width: 600px) {
  .tabla-usuarios {
    display: none;
  }

  mat-paginator {
    width: 100%;
  }
  .paginator {
    display: none;
  }

  .usuarios-responsive {
    display: flex;
    flex-direction: column;
  }

  .usuarios-responsive p {
    font-size: medium;
  }
}
