<app-mostrar-errores [errores]="errores"></app-mostrar-errores>
<app-spinner *ngIf="isLoading"></app-spinner>
<h2 mat-dialog-title>Comprobante de Reinscripción</h2>
<mat-dialog-content *ngIf="encuestaDTO">
  <div class="container" id="htmlData">
    <p style="text-align: center">CBT NO.3 San Felipe del Progreso</p>
    <h1 style="text-align: center">SOLICITUD DE REINSCRIPCIÓN</h1>

    <div>
      <div class="cabecera">
        <!-- digo barras -->
        <div style="text-align: center">
          <ngx-barcode
            [bc-value]="idEncuesta"
            [bc-display-value]="false"
          ></ngx-barcode>
        </div>
        <p style="text-align: center; font-size: 1.5rem">
          ALUMNO: <strong>{{ encuestaDTO.nombreAlumno }}</strong>
        </p>
        <p style="text-align: center">
          Folio: <strong>{{ encuestaDTO.idEncuesta }}</strong>
        </p>
      </div>

      <div>
        <table>
          <tr>
            <td>CURP:</td>
            <td>Género:</td>
            <td>Fecha de Nacimiento:</td>
            <td>Edad:</td>
            <td colspan="2">Grado:</td>
          </tr>

          <tr>
            <td>
              <strong>{{ encuestaDTO.curpAlumno }}</strong>
            </td>
            <td>
              <strong>{{ encuestaDTO.generoAlumno }}</strong>
            </td>
            <td>
              <strong>{{ encuestaDTO.fechaNacimientoAlumno }}</strong>
            </td>
            <td>
              <strong>{{ encuestaDTO.edadAlumno }} años</strong>
            </td>
            <td colspan="2">
              <strong>{{ encuestaDTO.grado }}</strong>
            </td>
          </tr>

          <tr>
            <td>Celular:</td>
            <td>Correo:</td>
            <td>Facebook:</td>
            <td>Twitter:</td>
            <td>Grupo:</td>
            <td>Semestre:</td>
          </tr>
          <tr>
            <td>
              <strong>{{ encuestaDTO.telefonoAlumno }}</strong>
            </td>
            <td>
              <strong>{{ encuestaDTO.correoAlumno }}</strong>
            </td>
            <td>
              <strong>{{ encuestaDTO.facebook }}</strong>
            </td>
            <td>
              <strong>{{ encuestaDTO.twitter }}</strong>
            </td>
            <td>
              <strong>{{ encuestaDTO.grupo }}</strong>
            </td>
            <td>
              <strong>{{ encuestaDTO.semestre }}</strong>
            </td>
          </tr>

          <tr>
            <td>Estado Civil:</td>
            <td>Nacionalidad:</td>
            <td>Idiomas:</td>
            <td>Tipo de Sangre:</td>
            <td colspan="2">Seguro Social:</td>
          </tr>

          <tr>
            <td>
              <strong>{{ encuestaDTO.estadoCivil }}</strong>
            </td>
            <td>
              <strong>{{ encuestaDTO.nacionalidad }}</strong>
            </td>
            <td>
              <strong>{{ encuestaDTO.idiomas }}</strong>
            </td>
            <td>
              <strong>{{ encuestaDTO.tipoSangre }}</strong>
            </td>
            <td colspan="2">
              <strong>{{ encuestaDTO.seguroSocial }}</strong>
            </td>
          </tr>

          <tr>
            <td colspan="6">Domicilio:</td>
          </tr>
          <tr>
            <td colspan="6">
              <strong>{{ encuestaDTO.domicilioAlumno }}</strong>
            </td>
          </tr>

          <tr>
            <td>Nombre del Tutor:</td>
            <td>Parentesco:</td>
            <td>Nacimineto:</td>
            <td>Edad:</td>
            <td colspan="2">INE:</td>
          </tr>
          <tr>
            <td>
              <strong>{{ encuestaDTO.nombreTutor }}</strong>
            </td>
            <td>
              <strong>{{ encuestaDTO.parentesco }}</strong>
            </td>
            <td>
              <strong>{{ encuestaDTO.fechaNacimiento }}</strong>
            </td>
            <td>
              <strong>{{ encuestaDTO.edadTutor }} años</strong>
            </td>
            <td colspan="2">
              <strong>{{ encuestaDTO.ine }}</strong>
            </td>
          </tr>

          <tr>
            <td>CURP:</td>
            <td>Género:</td>
            <td>Estado Civil:</td>
            <td>Ocupación:</td>
            <td colspan="2">Estudios:</td>
          </tr>
          <tr>
            <td>
              <strong>{{ encuestaDTO.curp }}</strong>
            </td>
            <td>
              <strong>{{ encuestaDTO.genero }}</strong>
            </td>
            <td>
              <strong>{{ encuestaDTO.estadoCivilTutor }}</strong>
            </td>
            <td>
              <strong>{{ encuestaDTO.ocupacion }}</strong>
            </td>
            <td colspan="2">
              <strong>{{ encuestaDTO.estudios }}</strong>
            </td>
          </tr>

          <tr>
            <td>Teléfono:</td>
            <td>Celular:</td>
            <td colspan="4">Correo:</td>
          </tr>
          <tr>
            <td>
              <strong>{{ encuestaDTO.telefono }}</strong>
            </td>
            <td>
              <strong>{{ encuestaDTO.celular }}</strong>
            </td>
            <td colspan="4">
              <strong>{{ encuestaDTO.correo }}</strong>
            </td>
          </tr>

          <tr>
            <td colspan="6">Domicilio:</td>
          </tr>
          <tr>
            <td colspan="6">
              <strong>{{ encuestaDTO.domicilio }}</strong>
            </td>
          </tr>
        </table>

        <div class="firmas-container">
          <div>
            <div>
              <p><strong>PROFR. RESPONSABLE DE LA INSCRIPCIÓN</strong></p>
              <hr />
            </div>
          </div>
          <div>
            <P><strong>NOMBRE Y FIRMA DEL SOLICITANTE</strong></P>
            <hr />
          </div>
        </div>
      </div>
    </div>
  </div>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close color="warn">Cerrar</button>
  <button
    mat-button
    [mat-dialog-close]="true"
    cdkFocusInitial
    (click)="downloadPDF()"
  >
    Descargar
  </button>
</mat-dialog-actions>
