<div>
  <p style="text-align: center">CBT NO.3 San Felipe del Progreso</p>
  <h1 style="text-align: center">SOLICITUD DE REINSCRIPCIÓN</h1>

  <div>
    <div></div>
    <div class="cabecera">
      <!-- digo barras -->
      <p style="text-align: center">
        ALUMNO: <strong>ANDREA GONZALEZ MIRANDA</strong>
      </p>
    </div>

    <div>
      <table>
        <tr>
          <td>CURP:</td>
          <td>Género:</td>
          <td>Fecha de Nacimiento:</td>
          <td>Edad:</td>
          <td colspan="2">Grado:</td>
        </tr>

        <tr>
          <td><strong>FOCD980619HMCRNV06</strong></td>
          <td><strong>FEMENINO</strong></td>
          <td><strong>07/07/1998</strong></td>
          <td><strong>16 años</strong></td>
          <td colspan="2"><strong>SEGUNDO</strong></td>
        </tr>

        <tr>
          <td>Celular:</td>
          <td>Correo:</td>
          <td>Facebook:</td>
          <td>Twitter:</td>
          <td>Grupo:</td>
          <td>Semestre:</td>
        </tr>
        <tr>
          <td><strong>7121526396</strong></td>
          <td><strong>fonsecasoundcruz@gmai.com</strong></td>
          <td><strong>Andrea TL</strong></td>
          <td><strong>Sin Twitter</strong></td>
          <td><strong>1</strong></td>
          <td><strong>TERCERO</strong></td>
        </tr>

        <tr>
          <td>Estado Civil:</td>
          <td>Nacionalidad:</td>
          <td>Idiomas:</td>
          <td>Tipo de Sangre:</td>
          <td colspan="2">Seguro Social:</td>
        </tr>

        <tr>
          <td><strong>SOLTERO</strong></td>
          <td><strong>MEXICANA</strong></td>
          <td><strong>NO</strong></td>
          <td><strong>0 Postivo</strong></td>
          <td colspan="2"><strong>DDFDEE7445</strong></td>
        </tr>

        <tr>
          <td colspan="6">Domicilio:</td>
        </tr>
        <tr>
          <td colspan="6"><strong>san fhdshfsdjdhjedsk dsccdshj</strong></td>
        </tr>

        <tr>
          <td>Nombre del Tutor:</td>
          <td>Parentesco:</td>
          <td>Nacimineto:</td>
          <td>Edad:</td>
          <td colspan="2">INE:</td>
        </tr>
        <tr>
          <td><strong>HERMELINDA MIRANDA</strong></td>
          <td><strong>MADRE</strong></td>
          <td><strong>27/10/1965</strong></td>
          <td><strong>56 años</strong></td>
          <td colspan="2"><strong>FDFEWFEW15</strong></td>
        </tr>

        <tr>
          <td>CURP:</td>
          <td>Género:</td>
          <td>Estado Civil:</td>
          <td>Ocupación:</td>
          <td colspan="2">Estudios:</td>
        </tr>
        <tr>
          <td><strong>MIFGD45874D</strong></td>
          <td><strong>FEMENINO</strong></td>
          <td><strong>CASADO</strong></td>
          <td><strong>AMA DE CASA</strong></td>
          <td colspan="2"><strong>SIN ESTUDIOS</strong></td>
        </tr>

        <tr>
          <td>Teléfono:</td>
          <td>Celular:</td>
          <td colspan="4">Correo:</td>
        </tr>
        <tr>
          <td><strong>7124568963</strong></td>
          <td><strong>7124568963</strong></td>
          <td colspan="4"><strong>fofosn@gmai.com</strong></td>
        </tr>

        <tr>
          <td colspan="6">Domicilio:</td>
        </tr>
        <tr>
          <td colspan="6">
            <strong>Dans shaskhsalhasdlhasd asdjasdlkasdhasdl</strong>
          </td>
        </tr>
      </table>

      <div class="firmas-container">
        <div>
          <div>
            <p><strong>PROFR. RESPONSABLE DE LA INSCRIPCIÓN</strong></p>
            <hr />
          </div>
        </div>
        <div>
          <P><strong>NOMBRE Y FIRMA DEL SOLICITANTE</strong></P>
          <hr />
        </div>
      </div>
    </div>
  </div>
</div>
