<div>
  <div class="title">
    <h1>Reseña</h1>
  </div>

  <div class="carousel">
    <carousel
      [borderRadius]="15"
      [images]="images"
      [autoplay]="true"
      [loop]="true"
    >
    </carousel>
  </div>
  <div class="button-gallery">
    <a mat-button routerLink="/galeria">
      <mat-icon>collections</mat-icon>
      Galería
    </a>
  </div>
  <div class="card">
    <div class="informacion">
      <div>
        <h2 style="color: #374e54">Reseña</h2>
        <p style="color: #374e54">
          El motivo por el cual se creó la Institución en la Comunidad de San
          Antonio Mextepec es por la necesidad de contar con una escuela de
          Nivel Medio Superior para que los estudiantes no se trasladaran a la
          Cabecera Municipal para continuar con sus estudios ya que debido a la
          carencia económica de algunas familias los estudiantes solo concluían
          su nivel básico (primaria y secundaria) sin la oportunidad de mejora
          en la educación.
        </p>
        <p style="color: #374e54">
          La supervisión escolar de la zona BT011 de Bachillerato Tecnológico
          estando a cargo la Mtra. María del Rosario Rivera Pedraza a petición
          del delegado de la comunidad C. Bonifacio Carpio Faustino quien
          gestiono ante las autoridades competentes para la creación de una
          institución de Nivel Medio Superior. La creación del CBT No. 3 San
          Felipe del Progreso nombre con el que inicio la institución, con C.C.T
          15ECT0102O, turno matutino, ubicado en el municipio de San Felipe del
          Progreso.
        </p>
        <p style="color: #374e54">
          La supervisión escolar de la zona BT11 determinó que el CBT de nueva
          creación en la comunidad de San Antonio Mextepec sería coordinado por
          la Profesora Zoila Alamilla Martínez, único personal directivo y
          cuatro docentes que iniciaron labores en el ciclo escolar 2014-2015.
          <a href=""> Saber más…</a>
        </p>
      </div>
    </div>
  </div>
</div>
