/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap");
/* html, body { height: 100%; }  Afecta el toolbar */
body {
  margin: 0;
  font-family: "Poppins", sans-serif;
}

.title {
  text-align: center;
  color: #374e54;
  margin-bottom: 2rem;
}

@media screen and (max-width: 600px) {
  .title {
    font-size: 10px;
  }
}

app-mostrar-errores {
  display: flex;
  justify-content: start;
}
