<app-mostrar-errores [errores]="errores"></app-mostrar-errores>

<form (submit)="guardar()" [formGroup]="form">
  <div class="formulario">
    <mat-form-field appearance="outline">
      <mat-label>Nombre del Grupo*</mat-label>
      <input
        formControlName="nombre"
        placeholder="Ingresa el nombre del grupo"
        matInput
      />
      <mat-error>Debe agregar un nombre.</mat-error>
    </mat-form-field>

    <div>
      <button mat-flat-button [disabled]="form.invalid">Guardar</button>

      <a mat-stroked-button routerLink="/grupos">Cancelar</a>
    </div>
  </div>
</form>
