.nuevo button {
  width: 10rem;
  background: #4f707b;
  color: white;
  margin: 3rem 0;
}

.cabecera {
  display: flex;
}

.cabecera p {
  margin-right: 1rem;
}

table,
mat-paginator {
  width: 60%;
}

.publicaciones-responsive {
  display: none;
}
.messagge-responsive {
  display: none;
}
@media screen and (max-width: 600px) {
  mat-paginator {
    width: 100%;
  }
  .paginator,
  .tabla-publicaciones {
    display: none;
  }

  .publicaciones-responsive {
    display: flex;
    flex-direction: column;
  }

  .cabecera {
    display: flex;
    flex-direction: column;
  }

  .messagge-responsive {
    display: flex;
  }
}
